blueprint*
!BlueprintAkteur.cu
!BlueprintAkteur.cuh
!BlueprintHandler.cu
!BlueprintHandler.cuh
benchmark*
x64/*
.vs/*
test_proj.vcxproj
test_proj.vcxproj
log.txt
test_proj.vcxproj
test_proj.vcxproj
test_proj.vcxproj.filters
